.Contact {
  color: white;
  padding: 50px 0; /* Adjusted padding for better mobile experience */
  text-align: center;
}

.Contact h5 {
  font-size: 24px; /* Adjusted font size for mobile view */
  margin-bottom: 20px; /* Adjusted margin for better spacing */
}

.Contact_Form {
  max-width: 80%; /* Adjusted max-width for better mobile experience */
  margin: 0 auto;
}

.Contact_Form label {
  font-size: 16px; /* Adjusted font size for mobile view */
  margin-bottom: 5px;
}

.Contact_Form input,
.Contact_Form select,
.Contact_Form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  transition: border-color 0.3s;
}

.Contact_Form textarea {
  resize: vertical;
}

.Contact_Form button {
  padding: 10px 20px;
  font-size: 16px; /* Adjusted font size for mobile view */
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.Contact #messageType {
  background-color:transparent;
  color:white;
  border-color:white;
}

.Contact_Form button:hover {
  background-color: white;
  color:  #333;
  border-color: none;
}

.Contact_Form input:focus,
.Contact_Form select:focus,
.Contact_Form textarea:focus {
  outline: none;
  border-color: #00465E;
}

@media screen and (max-width: 600px) {
  .Contact h5 {
    font-size: 20px; /* Further adjusted font size for smaller screens */
  }

  .Contact_Form {
    max-width: 90%; /* Adjusted max-width for smaller screens */
  }
}
